:root {
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 13%);
    --color-secondary-light: hsl(0, 0%, 44%);
    --color-accent-1: hsl(214, 98%, 58%);
    --color-accent-2: hsl(245, 71%, 64%);
}
