:root {
    --color-primary: hsl(0, 0%, 97%);
    --color-primary-dark: hsl(0, 0%, 67%);
    --color-secondary: hsl(0, 0%, 0%);
    --color-tertiary: hsl(209, 100%, 76%);
    --color-dropdown: hsl(0, 0%, 92%);
}
