.contact {
    @include section-margin-bottom;

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        @include breakpoint("medium") {
            margin-top: 9rem;
            flex-direction: row;
            column-gap: 15%;
            justify-content: center;
        }
    }

    &__social-list {
        display: flex;
        column-gap: 2rem;
        width: fit-content;
        margin-inline: auto;
        margin-bottom: 3rem;

        @include breakpoint("medium") {
            flex-direction: column;
            row-gap: 5rem;
            margin-inline: 0;
            margin-top: 1rem;
        }
    }

    &__social-item {
        font-size: $font-size-500;
    }

    &__form {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        flex-basis: 60%;

        @include breakpoint("medium") {
            margin-top: 0;
        }

        &-element-group {   
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        &-input,
        &-textarea {
            padding: 1.5rem;
            font-size: $font-size-400;
            outline: none;
            resize: vertical;
        }

        &-label {
            font-weight: $font-weight-semi-bold;
            font-size: clamp(1.8rem, calc(1.5rem + 0.4vw), 2rem);
        }

        &-button {
            padding: 1rem 2rem;
            align-self: flex-start;
            font-weight: $font-weight-medium;
            font-size: $font-size-400;
            @include breakpoint("medium") {
                align-self: flex-end;
            }
        }
    }
}
