.header {
    background-color: $color-primary;
    padding-block: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    &__nav {
        @include flexLayout(space-between);
    }

    // Logo
    &__logo {
        @include dimension(5.5rem);
        overflow: hidden;
        background-color: $color-secondary-light;
        border-radius: 50%;
        
        @include breakpoint('medium'){
            @include dimension(6rem);
        }

        @include breakpoint('large'){
            @include dimension(6.5rem);
        }

        @include breakpoint('xlarge'){
            @include dimension(7rem);
        }

        @include breakpoint('xxlarge'){
            @include dimension(7.5rem);
        }
    }

    // Backdrop
    &__backdrop {
        background-color: rgba(#000000, 0.5);
        position: fixed;
        top: 0;
        right: -100%;
        @include dimension(100%);
        opacity: 0;
        @include transition(opacity);
        @include breakpoint("medium") {
            display: none;
        }
        &.active {
            right: 0;
            opacity: 1;
        }
    }

    // Hamburger
    .hamburger {
        @include dimension(5rem);
        position: relative;
        border: none;
        z-index: 10;

        @include breakpoint("medium") {
            display: none;
        }

        &__line {
            background-color: $color-secondary;
            display: inline-block;
            position: absolute;
            right: 13px;
            height: 2px;
            @include transition;
            &:first-child {
                top: 20px;
                width: 50%;
            }
            &:last-child {
                top: 30px;
                width: 30%;
            }
        }

        &.active .hamburger__line {
            &:first-child {
                top: 18px;
                right: 14px;
                transform: translateY(6px) rotate(-45deg);
                width: 45%;
            }
            &:last-child {
                top: 30px;
                right: 14px;
                transform: translateY(-6px) rotate(45deg);
                width: 45%;
            }
        }
    }

    // Menu
    &__menu {
        background-color: $color-primary;
        padding: 3rem;
        @include dimension(65vw, 100vh);
        position: fixed;
        top: 0;
        right: -100%;
        font-size: 1.7rem;
        @include transition(right);
        @include breakpoint("small") {
            width: 50vw;
        }
        @include breakpoint("medium") {
            position: static;
            @include dimension(auto);
            display: flex;
            padding: 0;
            font-size: 1.5rem;
        }

        &.open {
            right: 0;
        }
    }

    // Nav list
    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 10rem;

        @include breakpoint("medium") {
            flex-direction: row;
            align-items: center;
            margin-top: 0;
        }
    }

    &__nav-link {
        font-weight: $font-weight-medium;
        font-size: $font-size-400;
        @include transition(color, 200ms);
        @include breakpoint("medium") {
            font-weight: $font-weight-regular;
        }
        &:hover {
            color: $color-accent-1;
        }
    }

    // toggle theme button
    &__toggle-theme-btn {
        position: absolute;
        top: 0.5rem;
        left: 2rem;
        margin-top: 2rem;
        @include breakpoint("medium") {
            position: static;
            margin-top: -0.3rem;
            margin-left: 3.5rem;
        }

        span {
            font-size: 4rem;
            display: block;
            color: $color-secondary-light;
            @include transition(color, 200ms);
            &:hover {
                color: $color-accent-1;
            }

            @include breakpoint("medium") {
                font-size: 3.5rem;
            }
        }
    }

    .icon-moon {
        display: none;
    }
}
