.hero {
    display: flex;
    flex-direction: column;
    min-height: calc(90vh - 9.5rem);
    @include section-margin-bottom;

    @include breakpoint("medium") {
        min-height: calc(90vh - 10rem);
    }

    @include breakpoint("large") {
        min-height: calc(100vh - 10.5rem);
    }

    @include breakpoint("xlarge") {
        min-height: calc(100vh - 11rem);
    }

    @include breakpoint("xxlarge") {
        min-height: calc(100vh - 11.5rem);
    }

    &__container {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: $accent-font;
        font-size: $font-size-700;
        font-weight: $font-weight-extra-bold;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        letter-spacing: 0.2rem;
        background: linear-gradient(right, $color-accent-1, $color-accent-2);
        background: -webkit-linear-gradient(right, $color-accent-1, $color-accent-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__role {
        font-size: $font-size-500;
        font-weight: $font-weight-medium;
    }

    &__description {
        margin-block: 2rem 3.5rem;
        color: $color-tertiary;
    }

    &__description > :first-child {
        margin-bottom: 2rem;
    }

    &__cta {
        background: $color-accent-1;
        font-weight: $font-weight-semi-bold;
    }
}
