.hero {
    flex-direction: column;
    @include flexLayout(center);
    min-height: calc(80vh - 8rem);
    
    @include breakpoint ('medium'){
        min-height: calc(80vh - 6.6rem);
    }

    @include breakpoint ('large'){
        min-height: calc(100vh - 6.6rem);
    }
    
    &__texts {
        text-align: center;
    }

    &__title {
        font-size: $font-size-700;
        font-weight: $font-weight-bold;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        font-family: $accent-font;
        word-spacing: -2rem;
    }

    &__role {
        font-size: $font-size-500;
        font-weight: $font-weight-medium;
    }

    &__description {
        margin-block: 1.5rem;
        
        @include breakpoint('medium'){
            margin-bottom: 2rem;
        }
    }

    &__description > :first-child {
        margin-bottom: 2rem;
    }
    
}